{{!< default}}

<div class="gh-error">
    <p class="gh-error-code">{{statusCode}}</p>
    <h1 class="gh-error-title">{{message}}</h1>
    <p class="gh-error-desc">Something went wrong. Please try again.</p>
    <a href="{{@site.url}}" class="gh-error-link">Back to home</a>
</div>
